<h2 align="center">Jednoduch√© tipy pre python v√Ωvoj√°ra</h2>

<b><p>Daily tipy pre python v√Ωvoj√°ra. </p></b>
<br>
<b>De≈à - 04 - Enumerate</b>  

Enumerate je z√°kladn√° vstavan√° Python funkcia, ktor√° umo≈æ≈àuje prid√°vanie index√°cie ku iterovateƒæn√©mu objektu. S touto index√°ciou je samozrejm√© mo≈æn√© ƒèaƒæej pracova≈•, rovnako ako s objektom ktor√Ωm sa iteruje.

Syntax je: ``enumerate(objekt, pociatocna_hodnota)`` üôÉ

In [1]:
mesta = ['Bratislava', 'Zilina', 'Banska Bystrica', 'Kosice', 'Poprad', 'Ruzomberok']

In [2]:
for index, mesto in enumerate(mesta):
    print(index, mesto)

0 Bratislava
1 Zilina
2 Banska Bystrica
3 Kosice
4 Poprad
5 Ruzomberok

In [3]:
dict(enumerate(mesta))

{0: 'Bratislava',
 1: 'Zilina',
 2: 'Banska Bystrica',
 3: 'Kosice',
 4: 'Poprad',
 5: 'Ruzomberok'}

In [4]:
list(enumerate(mesta))

[(0, 'Bratislava'),
 (1, 'Zilina'),
 (2, 'Banska Bystrica'),
 (3, 'Kosice'),
 (4, 'Poprad'),
 (5, 'Ruzomberok')]

In [5]:
tuple(enumerate(mesta, 5))  #index od 5 ->

((5, 'Bratislava'),
 (6, 'Zilina'),
 (7, 'Banska Bystrica'),
 (8, 'Kosice'),
 (9, 'Poprad'),
 (10, 'Ruzomberok'))

In [6]:
data = [10, 30, 60, 100, 150, 210, 280, 360, 450, 550, 660, 780]

In [7]:
index = 0
for hodnota in range(len(data)): 
    data[index] = data[index] + data[index]
    index += 1
data

[20, 60, 120, 200, 300, 420, 560, 720, 900, 1100, 1320, 1560]

In [8]:
# pre provnanie to iste pomocou enumerate

for index, hodnota in enumerate(data):
    data[index] = hodnota + hodnota
data

[40, 120, 240, 400, 600, 840, 1120, 1440, 1800, 2200, 2640, 3120]

In [9]:
from pandas import DataFrame

In [10]:
data_pre_df = {
    "meno": ["Jano", "Peter", "Lukas"],
    "vek": [36, 32, 33]
}

df = DataFrame(data_pre_df)
df

    meno  vek
0   Jano   36
1  Peter   32
2  Lukas   33

In [11]:
for i in range(len(df)):
    #riadok i-ty
    riadok = df.iloc[i]
    for j in range(len(riadok)):
        print(f"Riadok {i} a stlpec {j} : {riadok[j]}")

Riadok 0 a stlpec 0 : Jano
Riadok 0 a stlpec 1 : 36
Riadok 1 a stlpec 0 : Peter
Riadok 1 a stlpec 1 : 32
Riadok 2 a stlpec 0 : Lukas
Riadok 2 a stlpec 1 : 33

In [12]:
for i, riadok in enumerate(df.itertuples(index=False)): 
    for j, hodnota in enumerate(riadok):
        print(f"Riadok {i} a stlpec {j} : {riadok[j]}")

Riadok 0 a stlpec 0 : Jano
Riadok 0 a stlpec 1 : 36
Riadok 1 a stlpec 0 : Peter
Riadok 1 a stlpec 1 : 32
Riadok 2 a stlpec 0 : Lukas
Riadok 2 a stlpec 1 : 33

In [13]:
data_obj = [
    ["Tricko", 2, 20.99],
    ["Nohavice", 3, 35.49],
    ["Topanky", 2, 49.90]
]

In [14]:
#bez enum - pre porovnanie

for i in range(len(data_obj)):
    oblecenie, mnozstvo, cena = data_obj[i]
    vysledna_cena = mnozstvo * cena
    data_obj[i].append(vysledna_cena)
data_obj

[['Tricko', 2, 20.99, 41.98],
 ['Nohavice', 3, 35.49, 106.47],
 ['Topanky', 2, 49.9, 99.8]]

In [15]:
data_obj = [
    ["Tricko", 2, 20.99],
    ["Nohavice", 3, 35.49],
    ["Topanky", 2, 49.90]
]

In [16]:
for index, (oblecenie, mnozstvo, cena) in enumerate(data_obj):
    celkova_cena = mnozstvo * cena
    data_obj[index].append(celkova_cena)
data_obj

[['Tricko', 2, 20.99, 41.98],
 ['Nohavice', 3, 35.49, 106.47],
 ['Topanky', 2, 49.9, 99.8]]